.vscode
indexer/enron
indexer/.env
api/.env
client/.env
zinc
indexer/zinc
zinc
terraform
.terraform
.docker
.env
main.tf
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup
indexerv2/utils/logs.go
pkey
